@model OptimedCorporation.Models.EventImages

<style>
    .carousel-item {
        height: 400px;
        background-size: cover;
    }
</style>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("img.carousel-item:first").addClass("active");
    });
</script>

<div id="home" class="page-header02 parallax-full dark-section text-center section" style="background:#7585a6 url(ima-banner.jpg)  50% 50%;">

</div>







<div class="container">

    <div class="row mt-4">




        <p class="text-center">

            <strong>Events</strong><br>

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,

        </p>


        <!-- Large modal -->



        <div id="@Html.DisplayFor(model => model.EventId)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Optimed Corporation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">


                        <div id="carouselExampleIndicators-1" class="carousel slide " data-ride="carousel">


                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators-1" data-slide-to="3"></li>
                            </ol>


                            <div class="carousel-inner" role="listbox">
                                <!-- Slide One - Set the background image for this slide in the line below -->
                                <img class="carousel-item active" src="../EventsNews/EventsThumbnails/@Html.ValueFor(model => model.Images)" />
                                @*<img class="carousel-item" src="~/images/02.jpg" />
                                    <img class="carousel-item" src="~/images/03.jpg" />*@
                            </div>

                        </div>

                        <div class="mt-3">
                            <h5>@Html.DisplayFor(model => model.Events.Title)</h5>
                            <h6> Date: @Html.DisplayFor(model => model.Events.EventDate)</h6>
                            <p class="text-justify">
                                @Html.DisplayFor(model => model.Events.Description)
                            </p>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>


@*@model OptimedCorporation.Models.EventImages

    <div>
        <h4>EventImages</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Events.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Events.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Images)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Images)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
